<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true">

    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(-&#45;&#45;){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}</pattern>-->
            <pattern>%-40.40logger{39} %-5level %date{HH:mm:ss,SSS} %msg%n</pattern>
<!--            <pattern>%-5level %date{HH:mm:ss,SSS} %msg%n</pattern>-->
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <logger name="org.reactor.ipc.netty.http" level="INFO"/>
    <logger name="org.reactor.ipc.netty.channel" level="INFO"/>
    <logger name="cloudfoundry-client" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
